<br>
<br>
<div class="container">

<h1>Stupid Coach</h1>
<p class="answer">
<br>
<%= @question %>
<br>
<em>-You</em>
<br>
<br>
</p>
<p class="answer">
<br>
<%= @answer %>
<br>
<em>-Coach</em>
<br>
<br>
</p>



<%= link_to 'Ask again', ask_path, class: 'btn-medium' %>
