
<div class="container">
<br>
<br>
<h1>Personal coaching $9.99</h1>
 <form action="/answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="btn-medium">
 </form>
</div>
